@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#58595b;
	letter-spacing: 0.8px;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close-css {
  color: #eaa2ae;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #dc788e;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}	
.footer-p {
    font-size: 12px;
	margin: 0;
}
.footer-div {
    padding-top: 2px;
    padding-bottom: 2px;
}
/*Start */
.gold-bg{
	background-image:url(../img/gold-bg.jpg);
	background-size:cover;
	padding-top: 120px;
    padding-bottom: 120px;}
.first-h1 {
    margin-top: 0;
    margin-bottom: 0;
	font-size: 48px;
	font-weight: 900;
}
.first-p {
    margin-top: 5px;
	font-size:24px;
}
.gold-text{
	color:#cda375;
}
.kl-bg{
	background-image:url(../img/kl.jpg);
	background-size:cover;	
	background-position: center;
}
.plant-bg{
	background-image:url(../img/plant.jpg);
	background-size:cover;
	background-position: center;	
}
.plant2-bg{
	background-image:url(../img/plant2.jpg);
	background-size:cover;
	background-position: center;	
}
.left-div {
    display: inline-block;
    width: 60%;
}
.right-div {
    display: inline-block;
    width: 30%;
	margin-left:calc(10% - 2px);
}
.title-p {
    font-weight: 900;
    font-size: 27px;
    margin-top: 0;
}
.content-p{
    line-height: 1.8;
	text-align: justify;
}
.div2{
	display:flex;
	padding-top:50px;
	padding-bottom:50px;}
.gold-bg2{
	background-color:#cda375;}
.div3{
	padding-top:50px;
	padding-bottom:50px;}
.flex{
	display:flex;}
.info-div{
	padding-top:75px;}
.left-icon-div{
	display:inline-block;
	vertical-align: top;
	margin-right:20px;}
.right-content-div{
	display:inline-block;
	vertical-align: top;
	width: calc(100% - 60px);
}
.ctitle-p {
    margin-top: 0;
	margin-bottom: 0;
    font-weight: 900;
}
.left-icon{
	width:30px;}
.content-p2{
	margin-top:5px;
	margin-bottom:35px;
}
.info-div{
	width:60%;}
.call-text{
	font-size:18px !important;
	font-weight:600;}
.call-icon{
	width:20px !important;}
.call-left{
	margin-right:10px !important;}
.call-div{
	margin-top:30px;	
}
@media all and (max-width: 900px){
.gold-bg {
    padding-top: 80px;
    padding-bottom: 80px;
}	

}
@media all and (max-width: 800px){
.title-p {
    font-size: 21px;}
.content-p {
    font-size: 12px;
}	
}
@media all and (max-width: 700px){
.div2, .div3 {
    display: block;
	padding-top:30px;
	padding-bottom:30px;}
.left-div {
    display: block;
    width: 100%;
}
.title-p {
    text-align: center;
}
.content-p {
    text-align-last: center;}
.flex {
    display: block;
}
.info-div {
    padding-top: 20px;
	width:100%;
}
.left-icon-div {
    display: block;
    vertical-align: top;
    margin-right: 0;
    text-align: center;
}
.right-content-div {
    display: block;
    vertical-align: top;
    width: 100%;
    text-align: center;
}	
}
@media all and (max-width: 600px){
.gold-bg {
    padding-top: 50px;
    padding-bottom: 50px;
}	
.first-h1 {
    font-size: 32px;
	text-align:center;}
.first-p {
    font-size: 18px;
	text-align:center;
}
.gold-bg{
	background-image:url(../img/gold-bg2.jpg);}
.call-text{
	font-size:15px !important;
	font-weight:600;}
.call-left{
	margin-right:0 !important;}
}
@media all and (max-width: 400px){
.first-h1 {
    font-size: 24px;}	
.first-p {
    font-size: 14px;}
.gold-bg {
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-p{
	text-align:center;}	
}